.project {
  display: flex;
  flex-direction: row;
}

// .title {
//   text-align: center;
// }

.display {
  // height: 50%;
  width: 50%;
  align-self: center;
}

.info {
  width: fit-content;
  height: fit-content;
  width: 50%;
  text-align: center;
}