.projects {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  background-color: rgba(0, 128, 0, 0.096);
}

.projectNav {
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(0, 0, 0);
  width: 50%;
  justify-content: center;
}
.thumbnail {
 width: 10%;
}

.displayedProject {
  border: 2px solid rgb(0, 0, 0);
  width: 100vw;
}
