.project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

// .title {
//   text-align: center;
// }

.display {
  // height: 50%;
  width: 40vw;
  align-self: center;
  border: 5px solid white;
}

.info {
  width: fit-content;
  height: fit-content;
  width: 30%;
  text-align: center;
  padding: 5rem;
  height: 100%;


 & a{
  margin: 5px;
  font-weight: bold;
 
 &:hover {
    color: #ffffff;
  }
}
& div {
  display: flex;
  justify-content: space-around;
  align-content: flex-end;
  height: 100%;
}
}

@media screen and (max-width: 1023px) {
  .display {
    width: 90vw;
  }

  .info {
    width: 90%;
  }
}