.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

// .title {
//   text-align: center;
// }

.display {
  // height: 50%;
  width: 40vw;
  align-self: center;
  border: 5px solid white;
}

.info {
  width: fit-content;
  height: fit-content;
  width: 30%;
  text-align: center;
  padding: 5rem;
}