
.about {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.selfimg {  
  height: 30rem;
  background-repeat: no-repeat;
  background-size: contain;
  filter: hue-rotate(20deg);
  outline: 2px solid #dad2bf;
}

// .tech {
//   justify-content: center;
// }
// .title {
//   text-align: center;
//   font-weight: 600;
//   text-decoration: underline;
//   padding-bottom: 3rem;
  
// }

// // .langList {
// //   align-items: center;
// // }

// .languages{
//   display: flex;
//   flex-direction: row;
// }

