 .contactSection{
  display:flex;
  flex-direction: column;
   align-items: center;
   margin-bottom: 4rem;
}

.form{
  display:flex;
  flex-direction: column;
  & p {margin: 0rem;}
  margin-bottom: 4rem;
}

input {
  margin: 0 0 1rem 0;
  width: 30ch;
  padding: .5rem;
  font-weight: 400;
  color: #000000;
  background-color: #dad2bf;
  transition: .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: white;
  }
}

textarea {
  width: 60ch;
  height:10ch;
  padding: .5rem;
margin: 1.5rem 0;
  color: black;
  font-weight: 400;
  background-color: #dad2bf;
  transition: .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: white;
  }
  
}

::placeholder {font-weight: 400;}

button {
  width: fit-content;
  padding: .5rem 1rem;
  font-weight: 400;
  border-radius: 5px;
  color: black;
  background-color: #dad2bf;
  transition: .2s ease-in-out;

  &:hover,
  &:focus {
    background-color: #ffffff;
  }
}

@media screen and (max-width: 600px) {

  input, textarea {
    width: 100%
  }
  
}